# Secrets
.streamlit/secrets.toml

# Environnement Python
venv/
__pycache__/
*.pyc
.env

# Modèles lourds (optionnel — si trop gros pour GitHub)
# models/*.joblib

# Colab / Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Mac
.DS_Store